<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h2>Disciplinas</h2>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label>Nome </label>
      <input pInputText [(ngModel)]="nome" type="text" [(name)]="nome">
    </div>
    <div class="ui-g-3">
      <button pButton class="botao" label="Pesquisar" (click)="getPesquisar(nome)"></button>
    </div>
  </div>

  <div class="ui-g">

    <div class="ui-g-12">
      <app-disciplinas-grid [disciplinas]="disciplinas"></app-disciplinas-grid>
    </div>

    <div class="ui-g-1">
      <button pButton label="Nova" routerLink="/cadastroDisciplinas">
      </button>
    </div>
    <div class="ui-g-2">
      <button pButton label="Atualizar" (click)="atualizar()">
      </button>

    </div>
  </div>
</div>
