<p-table [(value)]="alunos" [paginator]="true" [rows]="4">
  <ng-template pTemplate="header">
    <tr>
      <th class="col-nome-header">Nome</th>
      <th class="col-matricula-header">Matricula</th>
      <th class="col-data-header">Idade</th>
      <th class="col-disciplinas-header">Disciplinas</th>
      <th class="col-acoes-header">Ação</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-alunos>
    <tr>
      <td class="col-nome">{{alunos.nome}}</td>
      <td class="col-matricula">{{alunos.matricula}}</td>
      <td class="col-data">{{alunos.idade}}</td>
      <td class="col-disciplinas">
        <div *ngIf="getTamanhoListaDisciplinas(alunos.nomeDisciplinas)" style="color: red">
          Sem disciplinas atribuidas.
        </div>
        <div *ngFor="let nomedisciplina of alunos.nomeDisciplinas">{{nomedisciplina}}</div>
      </td>
      <td class="col-acoes">
        <div pTooltip="Atribuir disciplina" style="display:inline-block;">
          <button pButton icon="pi pi-check" Class="ui-button-info"
            [routerLink]="['/cadastroAlunos', alunos.id]"></button>
        </div>
        <div pTooltip="Apagar alunos" style="display:inline-block;">
          <button pButton icon="pi pi-times" Class="ui-button-danger"
            [disabled]="!getTamanhoListaDisciplinas(alunos.nomeDisciplinas)" (click)="deletar(alunos)"></button>
        </div>

      </td>
    </tr>
  </ng-template>
</p-table>
